:global(body) {
    background: #25303B;
    width: 100%;
    margin: 0px;
    
}

.visible {
    height: 9999px;
    width: 100%;
    background: #000;
}

a {
    padding: 8px;
    text-decoration: none;
}
