div {

    display: flex;
    align-items: center;
    margin-bottom: 24px;
    flex-direction: column;

    img {

        box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
        max-width: 200px;
        border-radius: 100px;
        margin: 0 auto 24px;

    }
}
